

/* Aurora Utilities */


    /* Display Properties */

.display-flex {
    display: flex;
}


.flex-column {
    flex-direction: column;
}


.flex-wrap {
    flex-wrap: wrap;
}


.justify-start {
    justify-content: flex-start;
}


.justify-center {
    justify-content: center;
}


.justify-around {
    justify-content: space-around;
}


.justify-between {
    justify-content: space-between;
}


.justify-evenly {
    justify-content: space-evenly;
}


.justify-end {
    justify-content: flex-end;
}


.align-start {
    align-items: flex-start;
}


.align-center {
    align-items: center;
}


.align-end {
    align-items: flex-end;
}


.flex-grow-1 {
    flex-grow: 1;
}


    /* Spacing Properties */

.margin-auto {
    margin: auto;
}


.margin-none {
    margin: 0;
}


.padding-none {
    padding: 0;
}


    /* Background Properties */

.background-light {
    background-color: var(--aurora-background-light);
}


.background-dark {
    background-color: var(--aurora-background-dark);
}


.surface-color-1 {
    background-color: var(--aurora-surface-color-1);
}


.surface-color-2 {
    background-color: var(--aurora-surface-color-2);
}


.surface-color-3 {
    background-color: var(--aurora-surface-color-3);
}


.surface-color-4 {
    background-color: var(--aurora-surface-color-4);
}


.surface-color-5 {
    background-color: var(--aurora-surface-color-5);
}


.surface-color-6 {
    background-color: var(--aurora-surface-color-6);
}


.surface-color-7 {
    background-color: var(--aurora-surface-color-7);
}


.aurora-color-1 {
    background-color: var(--aurora-brand-color-primary);
}


.aurora-color-2 {
    background-color: var(--aurora-brand-color-secondary);
}


.background-transparent {
    background-color: transparent;
}


    /* Border Properties */

.aurora-border {
    border: 1px solid var(--aurora-brand-color-primary);
}


.border-high {
    border-top: 1px solid var(--aurora-border-color-default);
}


.border-low {
    border-bottom: 1px solid var(--aurora-border-color-default);
}


    /* Font Properties */

.font-size-1 {
    font-size: var(--aurora-font-size-1);
}


.font-size-2 {
    font-size: var(--aurora-font-size-2);
}


.font-size-3 {
    font-size: var(--aurora-font-size-3);
}


.font-size-4 {
    font-size: var(--aurora-font-size-4);
}


.font-size-5 {
    font-size: var(--aurora-font-size-5);
}


.font-italic {
    font-style: italic;
}


.font-medium {
    font-weight: 500;
}


.font-semibold {
    font-weight: 600;
}


.font-bold {
    font-weight: 700;
}


    /* Text Properties */

.aurora-text-color-1 {
    color: var(--aurora-brand-color-primary);
}


.aurora-text-color-2 {
    color: var(--aurora-brand-color-secondary);
}


.text-light {
    color: var(--aurora-text-light);
}


.text-dark {
    color: var(--aurora-text-dark);
}


.text-muted {
    color: var(--aurora-text-color-muted);
}


.text-center {
    text-align: center;
}


    /* Dimension Properties */

.width-full {
    width: 100%;
}


.width-75 {
    width: 75%;
}


.width-50 {
    width: 50%;
}


.width-25 {
    width: 25%;
}


.width-fit {
    width: fit-content;
}


.height-full {
    height: 100vh;
}


.height-80 {
    height: 80px;
}


.height-64 {
    height: 64px;
}


.height-32 {
    height: 32px;
}


.height-fit {
    height: fit-content;
}


    /* Position Properties */

.position-absolute {
    position: absolute;
}


.position-fixed {
    position: fixed;
}


.position-sticky {
    position: static;
}


.position-sticky {
    position: sticky;
}


.position-relative {
    position: relative;
}

